/* //  --------CSS--------

//   add styling to the game. this will be the last step so we can have a functioning game first. */
body {
    max-width: 400px;
    margin: auto;
}
.header {
    padding: 9px;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 10px;
    

}
.instructions {
   
    padding: 9px;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.jewelsClass {
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    
}

img {
    
    float:left;
    margin: 4px;
    margin-bottom: 10px;
    text-align: center; 
    
}

.winningContainer {
    width: 500px;
    text-align:center;
    padding: 9px;
    padding-bottom: 80px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;

}

#winningNumberId{
    padding-top: 10px;
    
    font-size: 40px;

}

.winLossClass {
    width: 500px;
    text-align:center;
    padding: 9px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
    

}

.yourScoreClass {
    width: 500px;
    text-align:center;
    padding: 9px;
    border: 1px solid black; 
    margin: auto;  
    margin-bottom: 10px; 
    clear: both;
}

