/* //  --------CSS--------

//   add styling to the game. this will be the last step so we can have a functioning game first. */

.header {
    
    padding: 9px;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin:auto

}
.instructions {
   
    padding: 9px;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin: auto;
}

.jewelsClass {
    width: 500px;
    margin: auto;
    
}

img {
    
    float:left;
    margin: 4px;
    margin-bottom: 10px;
    text-align: center; 
    margin
}

.winningContainer {
    width: 500px;
    text-align:center;
    padding: 9px;
    border: 1px solid black;
    margin: 10px;
    margin: auto;

}

.winLossClass {
    width: 500px;
    text-align:center;
    padding: 9px;
    border: 1px solid black;
    margin: 10px;
    margin: auto;
    

}

.yourScoreClass {
    width: 500px;
    text-align:center;
    padding: 9px;
    margin-left: 10px;
    border: 1px solid black; 
    margin: auto;   
    clear: both;
}

